doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    if debug
      script(type='text/javascript', src='/javascripts/Chart.js')
      script(type='text/javascript', src='/javascripts/jquery.js')
    else
      script(type='text/javascript', src='/javascripts/Chart.min.js')
      script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/socket.io.js')
    script(type='text/javascript', src='main.js')
  body
    block content
